<!-- Generated template for the VenueComponent component -->
<div class="place-item" *ngIf='guanzhulist'>
  <div class="item-left"></div>
  <div class="item-right">
    <img [src]="guanzhulist.pic" alt="" (tap)="toplaceDel(guanzhulist.id, guanzhulist.type)">
    <p class="place-title" (tap)="toplaceDel(guanzhulist.id, guanzhulist.type)">{{guanzhulist.name}}</p>
    <div class="place-detail">
      <p class="place-detail-item"><span>活动</span> <i>{{guanzhulist.a_num?guanzhulist.a_num:0}}</i></p>
      <p class="place-detail-item"><span>空间</span> <i>{{guanzhulist.v_num?guanzhulist.v_num:0}}</i></p>
      <p class="place-detail-item"><span>品味</span> <i>{{guanzhulist.k_num?guanzhulist.k_num:0}}</i></p>
    </div>
    <div class="place-gps">
      <div class="gps-distance"  (tap)='quxiao(guanzhulist.collection_id)' >已关注</div>
    </div>
  </div>
</div>
