page-map {
  width: 100%;
  img{max-width:none!important;}/* 解决地图导航起始图标在一起的问题 */
  #container{
    display: flex;
    display: -webkit-flex; /* Safari */
  }
  #results table{
    width: 100%;
    //position: absolute;
    //top: 0;
  }
  .button{
    width: 0.724rem;
    height:0.724rem;
    background: #38ffde;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
  }
  .search{
    width: 9.356rem;
    height: 4.7rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: px2em(40px);
    left: 50%;
    margin-left: -4.678rem;
    z-index: 666;
    label{
      display: flex;
      width: 1.144rem;
      height: 1.135rem;
      background: #ffffff;
      border-radius:.146rem  0 0 .146rem;
      justify-content: center;
      align-items: center;
      i{
        @include font-dpr(12px);
        color: #9e894b;
      }
    }
    input {
      width: 8.212rem;
      height: 1.135rem;
      background: #ffffff;
      border: none;
      border-radius: 0 .146rem .146rem 0;
      @include font-dpr(12px);
      color: #999999;
    }
  }
  div.bottom{
    display: flex;
    display: -webkit-flex; /* Safari */
    width: 100%;
    //height:1.208rem;
    height: px2em(150px);
    position: absolute;
    z-index: 1000;
    bottom: 0;
    background: #ffffff;
    #con{
      width: 100%;
      height:px2em(1614px);
      //overflow: hidden;
      position:absolute;
      top:px2em(-50px);
      z-index: 1;
      background: #ffffff;
      div.orient{
        display: flex;
        justify-content: center;
        align-items: center;
        width: px2em(120px);
        height: px2em(120px);
        border-radius: px2em(120px);
        background: #ffffff;
        position: absolute;
        top: px2em(-160px);
        left: px2em(40px);
        i{
          @include font-dpr(24px);
        }
      }
      div.drag{
        width: 100%;
        height: px2em(50px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.362rem;
        i{
          @include font-dpr(24px);
        }
      }
      .s_con {
        display: block;
        width: 100%;
        height:px2em(1564px);
        overflow: scroll;
        background: #ffffff;
        ul{
          li{
            list-style: none;
          }
        }
      }
    }
  }
  div.tabs{
    display: flex;
    display: -webkit-flex; /* Safari */
    width: 100%;
    height:px2em(150px);
    position: absolute;
    bottom: 0;
    z-index: 2;
    justify-content:space-around;
    align-items: center;
    background: #ffffff;
    border-top: 1px solid #eeeeee;
    font-family: 'yahei';
    span{
      display: flex;
      display: -webkit-flex; /* Safari */
      justify-content:space-around;
      align-items: center;
      width: 0.893rem;
      height: 1.135rem;
      color: #989898;
      @include font-dpr(13px);
      border-bottom:.008rem solid #ffffff;
    }
    .actived{
      color: #4c4c4c;
      border-bottom: .008rem solid #9e884c;
    }
  }
}
