page-video {
  .video{
    width:10rem;
    margin:0 auto;
    font-family: '宋体';
    height:100%;
    color:#9e894b;
    background: url("../assets/imgs/2.png") repeat;
    background-size: 0.0966rem 0.0966rem;
    .videoTit{
      width:100%;
      height: px2em(130px);
      background: #272727;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color:#9e894b;
      @include font-dpr(16px);
      position: relative;
      .otit {
        width: px2em(100px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: absolute;
        left: px2em(50px);
        i {
          color: #9e894b;
          @include font-dpr(16px);
        }
      }
    }
    .videoImg{
      border-bottom: px2em(4px) solid #9e894b;
      #live_video{
        width:100%;
        height:px2em(700px);
      }
      .videoOdl{
        padding:px2em(40px);
        font-weight: 600;
        dt{
          color:#fff;
          @include font-dpr(17px);
          margin-bottom: px2em(30px);
        }
        dd{
          @include font-dpr(16px);
        }
      }
    }
    .videoNum{
      width:100%;
      padding:0 px2em(50px);
      box-sizing: border-box;
      height:px2em(160px);

      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #272727;
      @include font-dpr(15.3px);
      position: fixed;
      bottom: 0;
      p{
        font-weight: 600;
        @include font-dpr(15.3px);
        span{
          color:#666666;
        }
      }
      i{
        @include font-dpr(22px);
      }
    }
  }
}
